-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  MHM-Systemhaus GmbH
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
= form_for @user, html: {class: "form-horizontal"} do |f|
  - if @user.errors.any?
    .container
      .alert.alert-danger
        %h6= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

  %div{class: "control-group"}
    = f.label :email, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-envelope"}
        = f.text_field :email
  %div{class: "control-group"}
    = f.label :first_name, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-arrow-right"}
        = f.text_field :first_name
  %div{class: "control-group"}
    = f.label :last_name, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-arrow-right"}
        = f.text_field :last_name
  %div{class: "control-group"}
    = f.label :nickname, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-user"}
        = f.text_field :nickname
  %div{class: "control-group"}
    = f.label :password, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-lock"}
        = f.password_field :password
  %div{class: "control-group"}
    = f.label :password_confirmation, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-lock"}
        = f.password_field :password_confirmation
  %div{class: "control-group"}
    %div{class: "controls"}
      = f.submit class: "btn"
