-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  Patricio Cano
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
%legend Users:

%table{class: "table table-hover"}
  %thead
    %tr
      %th Email
      %th First name
      %th Last name
      %th Nickname
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td= user.nickname
        %td= link_to 'Show', user, class: 'btn btn-small', type:'button'
        -if can? :manage, user
          %td= link_to 'Edit', edit_user_path(user), class: 'btn btn-small btn-warning', type:'button'
          %td= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger', type:'button'

%br

= link_to 'New User', new_user_path, class: 'btn btn-primary', type:'button'
= link_to 'Back', projects_path, class: 'btn btn-success', type:'button'
