-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  Patricio Cano
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
#manyForms
  -product_owner = @project.roles.find_by_role('product_owner')
  = semantic_form_for(product_owner, url: "/projects/#{@project.id}/assign_roles.json", html: {class: "form-horizontal", id: "product_owner_form", autocomplete: "off"}) do |f|
    =f.hidden_field :project_id, value: @project.id
    =f.hidden_field :role, value: product_owner.role
    =f.hidden_field :id, value: product_owner.id
    = f.input :user_id, as: :select, collection: Hash[@users.map{ |user| [user.nickname, user.id]}], label: "Product Owner", :input_html => {id: "assignChz"                                                                                        }

  -scrum_master = @project.roles.find_by_role('scrum_master')
  = semantic_form_for(scrum_master, url: "/projects/#{@project.id}/assign_roles.json", html: {class: "form-horizontal", id: "scrum_master_form", autocomplete: "off"}) do |fs|
    =fs.hidden_field :project_id, value: @project.id
    =fs.hidden_field :role, value: scrum_master.role
    =fs.hidden_field :id, value: scrum_master.id
    =fs.input :user_id, as: :select, collection: Hash[@users.map{ |user| [user.nickname, user.id]}], label: "Scrum Master", :input_html => {class: "chzn-select"}

  = semantic_form_for(@project, html: {class: "form-horizontal", id: "multiple-form", autocomplete: "off"}) do |fd|
    -Project::MANY_ROLES.each do |role_name|
      =fd.input role_name, as: :select, member_label: :nickname, :input_html => {class: "chzn-select"}
