#manyForms
  = semantic_form_for(@project.roles[0], url: "/projects/#{@project.id}/assign_roles.json", html: {class: "form-horizontal", id: "product_owner_form"}) do |f|
    =f.hidden_field :project_id, value: @project.id
    =f.hidden_field :role, value: @project.roles[0].role
    =f.hidden_field :id, value: @project.roles[0].id
    = f.input :user_id, as: :select, collection: Hash[@users.map{ |user| [user.nickname, user.id]}], label: "Product Owner", :input_html => {id: "assignChz"                                                                                        }

  = semantic_form_for(@project.roles[1], url: "/projects/#{@project.id}/assign_roles.json", html: {class: "form-horizontal", id: "scrum_master_form"}) do |fs|
    =fs.hidden_field :project_id, value: @project.id
    =fs.hidden_field :role, value: @project.roles[1].role
    =fs.hidden_field :id, value: @project.roles[1].id
    =fs.input :user_id, as: :select, collection: Hash[@users.map{ |user| [user.nickname, user.id]}], label: "Scrum Master", :input_html => {class: "chzn-select"}

  = semantic_form_for(@project, html: {class: "form-horizontal", id: "multiple-form"}) do |fd|
    -Project::MANY_ROLES.each do |role_name|
      =fd.input role_name, as: :select, member_label: :nickname, :input_html => {class: "chzn-select"}
