-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  MHM-Systemhaus GmbH
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
= form_for(@project, html: {class: "form-horizontal"}) do |f|
  - if @project.errors.any?
    %div{id: "error_explanation"}
      %h2= pluralize(@project.errors.count, "error"); " prohibited this project from being saved:"
      %ul
        -@project.errors.full_messages.each do |msg|
          %li= msg

  %div{class: "control-group"}
    = f.label :name, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-arrow-right"}
        = f.text_field :name
  %div{class: "control-group"}
    = f.label :description, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-tasks"}
        = f.text_area :description, rows: 8
  %div{class: "control-group"}
    = f.label :sprint_duration, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-calendar"}
        = f.select :sprint_duration, [["1 Week", 604800], ["2 Weeks", 1209600], ["3 Weeks", 1814400], ["4 Weeks", 2419200]]
  %div{class: "control-group"}
    %div{class: "controls"}
      = f.submit class: "btn"