%legend Current Projects

%table{class: "table table-hover"}
  %thead
    %tr
      %th Name
      %th Description
      %th State
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.description
        %td= project.state
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Project', new_project_path
