%legend{id: 'home'} Current Projects

%table{class: "table"}
  %thead
    %tr
      %th Name
      %th Description
      %th State
    - @projects.each do |project|
      %tr{class: project.set_title_background}
        %td= project.name
        %td= project.description
        %td
          %span{class: "label label-#{project.set_status_label}"}
            = project.state.humanize
        %td= link_to 'Show', project, class: 'btn btn-small', type:'button'
        %td= link_to 'Delete', project, class: 'btn btn-danger btn-small', type:'button', method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to "#{project.set_state_change_button}", url_for(controller: :projects, action: :update, id: project.id, project: { state_event: project.set_state_transition }), class: "btn btn-small #{project.set_disabled_button} tBTN", type:'button', method: :put
%br
= link_to 'New Project', new_project_path, class: 'btn btn-primary', type:'button'
