%legend{id: "project_id", name: @project.id} We are going to create a sprint for project: #{@project.name}

.row
  .span6
    %h5 Product backlog:
    -@project.features.by_priority.each do |feature|
      -if feature.sprint_id != @sprint.id
        .cubic.draggable{id: feature.id}
          %h3{class: "popover-title"}= feature.name
          .popover-content
            %p= feature.description
        %br/

  .span6
    %h5 Current Sprint backlog:
    %ul#dropZone{style: "list-style-type: none;", name: @sprint.id}
      %li
        .cubic.noSort
          %h6{class: "popover-title"}
            Drop items here.
            %i{class: "icon-arrow-right"}
        %br/
      -@sprint.features.by_priority.each do |feature|
        %li
          .cubic{id: feature.id}
            %h3{class: "popover-title"}= feature.name
            .popover-content
              %p= feature.description
          %br/
