%legend= @project.name
%br
%p= @project.description
%br
- if @project.features.any?
    = render @project.features
- else
    = link_to 'Add features', new_project_feature_path(@project)

%br




= link_to 'Edit', edit_project_path(@project) |
= link_to 'Back', projects_path
