%legend= @project.name

%table{class: "table table-bordered"}
  %tr{class: @project.set_title_background}
    %td= @project.description
    %td{style: "text-align: center"}
      %button{class: "btn", id: "modalShow"}
        -if can? :assign_roles, @project
          Assign Roles
        -else
          View Team
    %td{style: "text-align: center"}
      %span{class: "label label-#{@project.set_status_label}"}
        = @project.state.humanize
    -if can? :update, @project
      %td{style: "text-align: center"}= link_to 'Delete', @project, id: "deleteP", class: 'btn btn-danger btn-small', type:'button', method: :delete, data: { confirm: 'Are you sure?' }
      %td{style: "text-align: center"}= link_to "#{@project.set_state_change_button}", url_for(controller: :projects, action: :update, id: @project.id, project: { state_event: @project.set_state_transition }), id: "projectState", class: "btn btn-small #{@project.set_disabled_button} tBTN", type:'button', method: :put



-if @project.users.count == 1
  .container#assignAlert
    .alert.alert-danger
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      You haven't assigned any roles to the members of this project. Please do so now.


-if @project.features.any?
  = render "features/feature"
-else
  %span
    -if can? :create, Feature
      = link_to 'Add Features', new_project_feature_path(@project), class: 'btn btn-primary', type:'button'

= render 'roles'
-if can? :prioritize_feature, Project and not @project.features_done? #and @project.get_unassigned_features.count != 0
  = link_to @project.next_sprint_text, "/projects/#{@project.id}/plan_sprint", class: 'btn btn-warning', type:'button'
-if can? :update, Project
  = link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-warning', type:'button'

-if current_user.projects.count != 1
  = link_to 'Back', current_user, class: 'btn', type:'button'