%legend= @project.name

%table{class: "table table-bordered"}
  %tr{class: @project.set_title_background}
    %td= @project.description
    %td{style: "text-align: center"}
      %span{class: "label label-#{@project.set_status_label}"}
        = @project.state.humanize
    %td{style: "text-align: center"}= link_to "#{@project.set_state_change_button}", url_for(controller: :projects, action: :update, id: @project.id, project: { state_event: @project.set_state_transition }), class: "btn btn-small #{@project.set_disabled_button} tBTN", type:'button', method: :put



-if @project.users.count == 1
  .container
    .alert.alert-danger You haven't assigned any roles to the members of this project. Please do so now.

-if @project.features.any?
  = render "features/feature"
-else
  %span
    -if can? :create, Feature
      = link_to 'Add Features', new_project_feature_path(@project), class: 'btn btn-primary', type:'button'

%button{class: "btn", id: "modalShow"}Assign Roles
-#%a{href: "#assign_modal", role: "button", class: "btn", "data-toggle"=>"modal", id: "modalShow"}Assign Roles
= render 'roles'
= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-warning', type:'button'
= link_to 'Back', projects_path, class: 'btn', type:'button'