%legend Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-horizontal"}) do |f|
  %div{class: "control-group"}
    = f.label :email, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-envelope"}
        = f.email_field :email
  %div{class: "control-group"}
    = f.label :password, class: "control-label"
    %div{class: "controls"}
      %div{class: "input-prepend"}
        %span{class: "add-on"}
          %i{class: "icon-lock"}
        = f.password_field :password
  - if devise_mapping.rememberable?
    %div{class: "control-group"}
      = f.label :remember_me, class: "control-label"
      %div{class: "controls"}
        = f.check_box :remember_me
  %div{class: "control-group"}
    %div{class: "controls"}
      = f.submit class: "btn"
  = render "devise/shared/links"