
= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-signin"}) do |f|
  %h3{class: "form-signin-heading"}Sign in:
  = f.email_field :email, class: "input-block-level", placeholder: "Email address"
  = f.password_field :password, class: "input-block-level", placeholder: "Password"
  -if devise_mapping.rememberable?
    = f.check_box :remember_me, id: "rememberMe"
    = f.label :remember_me, class: "checkbox"
  = f.submit "Sign in", class: "btn btn-primary"
  = render "devise/shared/links"