%h5
  = @project.name
  's current features
%hr

%table{class: "table table-hover"}
  %thead
    %tr
      %th Name
      %th Description
      %th Status
      %th Priority
      %th Difficulty
  - @features.each do |feature|
    %tr
      %td= feature.name
      %td= feature.description
      %td
        %span{class: "label label-#{feature.set_status_label}"}
          = feature.state.capitalize
      %td= feature.priority
      %td= feature.difficulty
      %td= link_to 'Show', [@project, feature], class: 'btn btn-success btn-small', type:'button'
      %td= link_to 'Edit', edit_project_feature_path(@project, feature), class: 'btn btn-warning btn-small', type:'button'
      %td= link_to 'Delete', project_feature_path(@project, feature), class: 'btn btn-danger btn-small', type:'button', method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Feature', new_project_feature_path(@project), class: 'btn btn-primary', type:'button'