-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  Patricio Cano
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
%h5 #{@project.name}'s current features
%hr/
-if @project.sprints == []
  .container
    .alert.alert-danger
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      No sprint has been planned yet!

.alert.alert-success.notice{style: "display: none;", id: "sorted"}
.alert.alert-danger.notice{style: "display: none;", id: "errorSort"}
%img{style: "display: none;", id: "loadingImage", src: "/img/ajax-loader.gif"}

= render 'features/tab_navbar'

.tab-content
  = render 'features/tab_current_sprint'
  = render 'features/tab_no_sprint'
  = render 'features/tab_all'
  .tab-pane#pastSprints