-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  Patricio Cano
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
%legend
  = @project.name
  's current features

.alert.alert-success{style: "display: none;", id: "sorted"}
%table{class: "table table-hover", id: if can? :update, Project; @project.drag_available else "no_drag" end, name: @project.id}
  %thead
    %tr
      %th Name
      %th Description
      %th State
      %th Priority
      %th Difficulty
  - @features.each do |feature|
    %tr{id: feature.id}
      %td= feature.name
      %td= feature.description
      %td
        %span{class: "label label-#{feature.set_status_label}"}
          = feature.state.humanize
      %td= feature.priority
      %td= feature.difficulty
      %td= link_to 'Show', [@project, feature], class: 'btn btn-small', type:'button'
      -if can? :manage, Feature
        %td= link_to 'Edit', edit_project_feature_path(@project, feature), class: 'btn btn-warning btn-small', type:'button'
        %td= link_to 'Delete', project_feature_path(@project, feature), class: 'btn btn-danger btn-small', type:'button', method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to "#{feature.set_state_change_button}", url_for(controller: :features, action: :update, project_id: @project.id, id: feature.id, feature: { state_event: feature.set_state_transition }), class: "btn btn-small #{feature.set_disabled_button} tBTN", type:'button', method: :put
%br

-if can? :manage, Feature
  = link_to 'New Feature', new_project_feature_path(@project), class: 'btn btn-primary', type:'button'
= link_to 'Back', project_path(@project), class: 'btn btn-success', type:'button'