%legend= @features.project "'s current features"

%table{class: "table table-hover"}
  %thead
    %tr
      %th Name
      %th Description
      %th State
      %th Priority
      %th Difficulty
  - @features.each do |feature|
    %tr
      %td= feature.name
      %td= feature.description
      %td= feature.state
      %td= feature.priority
      %td= feature.difficulty
      %td= link_to 'Show', feature
      %td= link_to 'Edit', edit_project_feature_path(feature)
      %td= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Feature', new_project_feature_path