-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  Patricio Cano
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
%legend
  = @feature.name
  for project:
  = @feature.project.name
%br
%h6 Description:
%p= @feature.description
%br
%table{class: "table table-hover"}
  %thead
    %tr
      %th Priority
      %th Difficulty
      %th Status
    %tr
      %td= @feature.priority
      %td= @feature.get_difficulty
      %td
        %span{class: "label label-#{@feature.set_status_label}"}
          = @feature.state.humanize


-if can? :manage, Feature
  = link_to 'Edit', edit_project_feature_path(@feature.project, @feature), class: 'btn btn-warning', id: "editF", type:'button'
  = link_to 'Delete', project_feature_path(@feature.project, @feature), class: 'btn btn-danger', type:'button', method: :delete, data: { confirm: 'Are you sure?' }
  = link_to "#{@feature.set_state_change_button}", url_for(controller: :features, action: :update, project_id: @feature.project_id, id: @feature.id, feature: { state_event: @feature.set_state_transition }), class: "btn #{@feature.set_disabled_button}", type:'button', method: :put
= link_to 'Back', project_path(@feature.project), class: 'btn btn-success', type:'button'