%legend
  = @feature.name
  for project:
  = @feature.project.name
%br
%h6 Description:
%p= @feature.description
%br
%table{class: "table table-hover"}
  %thead
    %tr
      %th Priority
      %th Difficulty
      %th Status
    %tr
      %td= @feature.priority
      %td= @feature.get_difficulty
      %td
        %span{class: "label label-#{@feature.set_status_label}"}
          = @feature.state.humanize


-if can? :manage, Feature
  = link_to 'Edit', edit_project_feature_path(@feature.project, @feature), class: 'btn btn-warning', type:'button'
  = link_to 'Delete', project_feature_path(@feature.project, @feature), class: 'btn btn-danger', type:'button', method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Back', project_path(@feature.project), class: 'btn btn-success', type:'button'