-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  Patricio Cano
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
%div{class: "navbar navbar-fixed-top"}
  %div{class: "navbar-inner"}
    %div{class: "container"}
      %a{class: "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
      %a{class: "brand", href: "/"}
        %img{src: "/img/inkscape.png"}Cotopaxi
      %div{class: "nav-collapse collapse"}
        -#%ul{class:"nav"}
        -#  %li
        -#    %a{href:"/"} Home
        -if user_signed_in?
          %ul{class: "nav pull-right"}
            %li{class:"dropdown"}
              %a{href:"#", class:"dropdown-toggle", "data-toggle"=>"dropdown"}
                Welcome
                =current_user.nickname
                %b{class:"caret"}
              %ul{class:"dropdown-menu"}
                -if current_user.stakeholder
                  %li
                    = link_to new_project_path do
                      %i{class:"icon-pencil"}
                      New Project
                  %li
                    = link_to projects_path do
                      %i{class:"icon-exclamation-sign"}
                      All Projects
                  %li
                    = link_to users_path do
                      %i{class: "icon-leaf"}
                      All Users
                  %li{class:"divider"}
                %li{class:"nav-header"} Manage
                %li
                  = link_to user_path(current_user) do
                    %i{class:"icon-tasks"}
                    My Projects
                %li
                  = link_to edit_user_path(current_user) do
                    %i{class: "icon-user"}
                    Edit User Details
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i{class: "icon-off"}
                    Logout
        -#-else
        -#  %form{class:"navbar-form pull-right", "accept-charset"=>"UTF-8", action:"/users/sign_in", method:"post"}
        -#    %div{style:"margin:0;padding:0;display:inline"}
        -#      %input{name:"utf8", type:"hidden", value:"&#x2713;"}
        -#      %input{name:"authenticity_token", type:"hidden", value:"n4ruSCfZGbg21Mjjvx9BnwOpqoyjQgrkUxfsrLkh2m4="}
        -#    %input{class:"span2", id:"user_email", name:"user[email]", type:"email", placeholder:"Email"}
        -#    %input{class:"span2", id:"user_password", name:"user[password]", type:"password", placeholder:"Password"}
        -#    %input{name: "user[remember_me]", type: "hidden", value: "0"}
        -#    %input{class:"btn", name:"commit", type:"submit", value:"Log in"}
