
!!! 5
-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  MHM-Systemhaus GmbH
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
%html
  %head
    %title Cotopaxi | Scrum Management Tool
    %link{rel: "icon", href:"/favicon.ico"}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "layouts/navbar"
    = render "layouts/alert"
    %div{class: "container"}
      = yield

      %br
      %br
      %hr
      %footer
        %p &copy; Cotopaxi 2012


