!!! 5
%html
  %head
    %title Cotopaxi | Scrum Management Tool
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "layouts/navbar"
    %br
    %br
    %br
    %div{class: "container"}
      = yield


